@model ML.Dependiente
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>Empleado @Model.Empleado.NumeroEmpleado</h5>
<h2 class="text-center">Formulario del Dependiente</h2>
<p>Por favor, ingrese los datos que se solicitan.</p>
<hr />
<div class="container">
    @using (Html.BeginForm("Form", "Dependiente", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.IdDependiente)
        @Html.HiddenFor(model => model.Empleado.NumeroEmpleado)
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new {@class="text-danger"})
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.ApellidoPaterno)
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.ApellidoMaterno)
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.EstadoCivil)
                @Html.TextBoxFor(model => model.EstadoCivil, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.Genero)
                @Html.TextBoxFor(model => model.Genero, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => model.Telefono)
                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.Rfc)
                @Html.TextBoxFor(model => model.Rfc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rfc, "", new { @class = "text-danger" })
            </div>
        </div>
        <button class="btn btn-success" type="submit" id="btnGuardar"><i class="fa-solid fa-cloud-arrow-up"></i>  Guardar</button>
        <a class="btn btn-danger" href="@Url.Action("GetDependientes","Dependiente",new {numeroEmpleado = Model.Empleado.NumeroEmpleado})" id="btnVolver"><i class="fa-regular fa-hand-point-left"></i>  Volver</a>
    }
</div>

